.settings-holder {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  width: 56px;
}

.settings-button {
  width: 28px;
  height: 30px;
  opacity: 50%;
}

.settings-column {
    display: grid;
}

.w-24 {
  width: 24%;
}

@media screen and (min-width: 768px) {
  .w-md-100 {
    width: 100%;
  }
  .h-md-90vh {
    height: 90vh;
  }
}
