.modal-backdrop {
   visibility: hidden;
}

.modal-dialog {
  opacity: .75;
}

.modal-content {
  background-color: black;
}

.modal-body {
  color: white;
  text-align: center;
}

.slider {
  background: white;
}

.settings-holder {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  width: 56px;
}

.settings-column {
    display: grid;
}

.settings-button {
  width: 28px;
  height: 30px;
  opacity: .75;
}

.w-24 {
  width: 24%;
}

@media screen and (min-width: 768px) {
  .w-md-100 {
    width: 100%;
  }
  .h-md-90vh {
    height: 90vh;
  }
}
