<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static 'games/play.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Play</title>
</head>
<body>
<div id="id_tone_modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Brightness</h5>
                <i class="bi bi-brightness-alt-low-fill"></i>
                <input id="id_brightness_slider" type="range" min="0" max="2" value="1" step=".01" class="slider">
                <i class="bi bi-brightness-alt-high"></i>

                <h5>Contrast</h5>
                <i class="bi bi-circle"></i>
                <input id="id_contrast_slider" type="range" min="0" max="2" value="1" step=".01" class="slider">
                <i class="bi bi-circle-half"></i>
                <br>
                <button id="id_apply_image_editor_button" type="button" class="btn btn-light"><i class="bi bi-check"></i>Apply</button>
                <button id="id_close_image_editor_button" type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i>Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="id_header">
        <div class="col">
            <h1 class="text-center">Play Game!</h1>
        </div>
    </div>
    <div class="row" id="id_body">
        <div class="col-12 col-md-2 order-2 order-md-1" id="id_thumbnails">
            <div class="overflow-auto d-flex d-md-block h-md-90vh webkit-img-container">
                <img id="id_thumbnail_1" src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" data-image-id="id_image_1">
                <img id="id_thumbnail_2" src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" data-image-id="id_image_2">
                <img id="id_thumbnail_3" src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" data-image-id="id_image_3">
                <img id="id_thumbnail_4" src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" data-image-id="id_image_4">
                <img id="id_thumbnail_5" src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" data-image-id="id_image_5">
                <img id="id_thumbnail_6" src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" data-image-id="id_image_6">
            </div>
        </div>
        <div class="col-md order-1 order-md-2" id="id_main">
            <div id="id_main_image_container" class="row">
                <div class="settings-holder p-0">
                    <div class="settings-column">
                        <button id="id_zoom_in" type="button" class="btn btn-dark settings-button p-0"><i class="bi bi-zoom-in"></i></button>
                        <button id="id_zoom_out" type="button" class="btn btn-dark settings-button p-0"><i class="bi bi-zoom-out"></i></button>
                        <button id="id_expand_settings" type="button" class="btn btn-dark settings-button p-0" data-bs-toggle="collapse" data-bs-target="#id_extra_image_settings"><i class="bi bi-tools"></i></button>
                        <span class="settings-button"></span>
                    </div>

                    <div id="id_extra_image_settings" class="settings-column collapse">
                        <button id="id_rotate_left" type="button" class="btn btn-dark settings-button p-0"><i class="bi bi-arrow-90deg-left"></i></button>
                        <button id="id_rotate_right" type="button" class="btn btn-dark settings-button p-0"><i class="bi bi-arrow-90deg-right"></i></button>
                        <button id="id_invert_button" type="button" class="btn btn-dark settings-button p-0"><i class="bi bi-square-half"></i></button>
                        <button id="id_tone_button" type="button" class="btn btn-dark settings-button p-0" data-bs-toggle="modal" data-bs-target="#id_tone_modal"><i class="bi bi-toggles"></i></button>
                    </div>
                </div>

                <div id="id_image_view_port" class="image-viewer">
                    <div id="id_image_holder">
                        <div class="col" id="id_image_1">
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col" id="id_image_2" hidden>
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col" id="id_image_3" hidden>
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col" id="id_image_4" hidden>
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col" id="id_image_5" hidden>
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col" id="id_image_6" hidden>
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="id_input">
                    <form>
                        <div class="form-group row justify-content-end">
                            <div class="col-12 col-sm-9">
                                <input class="form-control" id="id_guess" type="text" placeholder="guess" required>
                            </div>
                            <div class="col-4 col-sm-3">
                                <button class="form-control">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2 order-3" id="id_score"><p>Score</p></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="{% static 'games/coverage/play.js' %}"></script>
</body>
</html>
