<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static 'games/play.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Play</title>
</head>
<body>
<div id="tone_modal_id" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Brightness</h5>
                <i class="bi bi-brightness-alt-low-fill"></i>
                <input type="range" min="0" max="2" value="1" step=".1" class="slider" id="brightness_slider_id">
                <i class="bi bi-brightness-alt-high"></i>

                <h5>Contrast</h5>
                <i class="bi bi-circle"></i>
                <input type="range" min="0" max="2" value="1" step=".01" class="slider" id="contrast_slider_id">
                <i class="bi bi-circle-half"></i>
                <br>
                <button type="button" class="btn btn-light" id="apply_image_editor_button_id"><i class="bi bi-check"></i>Apply</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i>Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="header">
        <div class="col">
            <h1 class="text-center">Play Game!</h1>
        </div>
    </div>
    <div class="row" id="body">
        <div class="col-12 col-md-2 order-2 order-md-1" id="thumbnails">
            <div class="overflow-auto d-flex d-md-block h-md-90vh webkit-img-container">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="image-1">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="image-2">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="image-3">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="image-4">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="image-5">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="image-6">
            </div>
        </div>
        <div class="col-md order-1 order-md-2" id="main">
            <div id="main_image_container_id" class="row">
                <div class="settings-holder p-0">
                    <div class="settings-column">
                        <button id="zoom_in_id" type="button" class="btn btn-dark settings-button p-0"><i class="bi bi-zoom-in"></i></button>
                        <button id="zoom_out_id" type="button" class="btn btn-dark settings-button p-0"><i class="bi bi-zoom-out"></i></button>
                        <button type="button" class="btn btn-dark settings-button p-0" data-bs-toggle="collapse" data-bs-target="#extra_image_settings_id"><i class="bi bi-tools"></i></button>
                        <span class="settings-button"></span>
                    </div>

                    <div id="extra_image_settings_id" class="settings-column collapse">
                        <button id="rotate_left_id" type="button" class="btn btn-dark settings-button p-0"><i class="bi bi-arrow-90deg-left"></i></button>
                        <button id="rotate_right_id" type="button" class="btn btn-dark settings-button p-0"><i class="bi bi-arrow-90deg-right"></i></button>
                        <button type="button" class="btn btn-dark settings-button p-0" id="invert_button_id"><i class="bi bi-square-half"></i></button>
                        <button type="button" class="btn btn-dark settings-button p-0" data-bs-toggle="modal" data-bs-target="#tone_modal_id"><i class="bi bi-toggles"></i></button>
                    </div>
                </div>

                <div id="image_view_port_id" class="image-viewer">
                    <div id="image_holder_id">
                        <div class="col" id="image-1">
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col" id="image-2" hidden>
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col" id="image-3" hidden>
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col" id="image-4" hidden>
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col" id="image-5" hidden>
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                        <div class="col" id="image-6" hidden>
                            <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" id="input">
                    <form>
                        <div class="form-group row justify-content-end">
                            <div class="col-12 col-sm-9">
                                <input class="form-control" id="guess" type="text" placeholder="guess" required>
                            </div>
                            <div class="col-4 col-sm-3">
                                <button class="form-control">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2 order-3" id="score"><p>Score</p></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="{% static 'games/play.js' %}"></script>
</body>
</html>
