<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static 'games/play.css' %}" rel="stylesheet">
    <title>Play</title>
</head>
<body>
<div class="container">
    <div class="row" id="header">
        <div class="col">
            <h1 class="text-center">Play Game!</h1>
        </div>
    </div>
    <div class="row" id="body">
        <div class="col-12 col-md-2 order-2 order-md-1" id="thumbnails">
            <div class="overflow-auto d-flex d-md-block h-md-90vh">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="#image-1">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="#image-2">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="#image-3">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="#image-4">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="#image-5">
                <img src="{% static 'games/demo-1.jpg' %}" class="img-thumbnail w-24 w-md-100" onclick="showImage(this)" data-image-id="#image-6">
            </div>
        </div>
        <div class="col-md order-1 order-md-2" id="main">
            <div id="image-holder" class="row">
                <div class="col" id="image-1">
                    <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                </div>
                <div class="col" id="image-2" hidden>
                    <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                </div>
                <div class="col" id="image-3" hidden>
                    <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                </div>
                <div class="col" id="image-4" hidden>
                    <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                </div>
                <div class="col" id="image-5" hidden>
                    <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                </div>
                <div class="col" id="image-6" hidden>
                    <img src="{% static 'games/demo-1.jpg' %}" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col" id="input">
                    <form>
                        <div class="form-group row justify-content-end">
                            <div class="col-12 col-sm-9">
                                <input class="form-control" id="guess" type="text" placeholder="guess" required>
                            </div>
                            <div class="col-4 col-sm-3">
                                <button class="form-control">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2 order-3" id="score"><p>Score</p></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="{% static 'games/play.js' %}"></script>
</body>
</html>
